@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

body{
    margin:0;
}

#svg-container{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

#background{
    background-color: #425465;
    width: 100%;
height:100%;
}

g{
    transition: 0.2s;
}

#map{
    height: 100%;
    width:100%;
}


#info{
    position:absolute;
    top: 0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.8);
    opacity:0;
    display: none;
    justify-content: center;
}

#info-animate{
    position:absolute;
    top:4.8%;
    background-color: #fff;
    width:90%;
    max-width:930px;
    height:0;
    border: 2px solid #fff;
    border-radius: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#info-animate img{
    width:80%;
    max-width:400px;
}

.info-container{
    position:absolute;
    top:4.8%;
    background-color: #e65525;
    width:90%;
    max-width:930px;
    height:0;
    border: 2px solid #fff;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    scrollbar-width: none;
}

.info-container::-webkit-scrollbar{
    display: none;
}


.info-title{
    width:100%;
    text-align: center;
    color:#fff;
    font-family: "Oswald", sans-serif;
    font-size:2.7em;
    font-weight:600;
    margin:0;
    text-decoration: underline;
    padding-top:10px;
    padding-bottom:25px;

}

@media screen and (max-width: 500px){
    .info-title{
        font-size:1.5em;
    }
    .info-desc{
        font-size: 0.4em;
    }
}

.info-desc{
    font-style: italic;
    width:80%;
    text-align: center;
    color:#fff;
    font-family: "Roboto", sans-serif;
    font-size:1em;
    margin:0;
    padding-bottom:20px;
    border-bottom: 2px solid #425465;

}

.info-media{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:95%;
    padding-top:10px;
height:100%;
opacity: 0;
}

.info-media img{
    max-height:175px;
    max-width:45%;
    padding: 5px;
}

.info-close{
    position:fixed;
    bottom:60px;
    right: 60px;
    width: 50px;
    height: 50px;
    opacity: 0;
}

div, img{
    animation-fill-mode: forwards !important;
}
@keyframes opacityIn {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
@keyframes opacityOut {
    from{
        opacity:1;
    }
    to{
        opacity:0;
    }
}
@keyframes infoIn {
    from{
        height:0;
        display:none
    }
    to{
        height: 90%;
        display:flex;
    }
}