@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

body{
    margin:0;
}

#svg-container{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

#svg-container:hover{
/* cursor: grab; */
}

#background{
    background-color: #425465;
    width: 100%;
height:100%;
}

g{
    transition: 0.2s;
}

#map{
    height: 100%;
    width:100%;
}

.pin{
    opacity:0;
}
#info{
    position:absolute;
    top: 0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.8);
    opacity:0;
    display: none;
    justify-content: center;
}

#info-animate{
    position:absolute;
    top:4.8%;
    background-color: #fff;
    width:90%;
    max-width:930px;
    height:90%;
    border: 2px solid #fff;
    border-radius: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#info-animate img{
    width:80%;
    max-width:400px;
}

.info-container{
    position:absolute;
    top:4.8%;
    background-color: #e65525;
    width:90%;
    max-width:930px;
    height:90%;
    border: 2px solid #fff;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    scrollbar-width: none;
}

.info-container::-webkit-scrollbar{
    display: none;
}


.info-container h1{
    width:100%;
    color:#fff;
    font-family: "Montserrat", sans-serif;
    font-size:2.7em;
    margin:0;
    text-decoration: underline;


}

@media screen and (max-width: 500px){
    .info-container h1{
        font-size:1.5em;
    }
    .info-container p{
        font-size: 0.4em;
    }
}

.info-container p{
    width:80%;
    color:#fff;
    font-family: "Montserrat", sans-serif;
    font-size:1em;
    margin:0;
    padding-bottom:20px;
    border-bottom: 2px solid #425465;
    position:relative
}

.info-title{
    display: flex;
    align-items: center;
    width:80%;
    padding-top:10px;
    padding-bottom:25px;
}

.info-logo{
    max-height: 75px;
    max-width: 33%;
    border: 3px solid #fff;
    border-radius: 5px;
    margin-left: 10px;
}

.info-media{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:95%;
    padding-top:20px;
height:100%;
opacity: 0;
}

.info-media img{
    max-height:175px;
    max-width:45%;
    padding: 5px;
}

#info-close{
    position:fixed;
    top:5px;
    right:5px;
    height: 5%;
    opacity: 0;
}

#info-close:hover, .pin:hover{
cursor: pointer !important;
}






#local-animation{
    background-color: #e65525;
    position:absolute;
    width:0;
    height:100%;
    top:0;

}

#local-container{
    background-color: #fff;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    display:none;
    justify-content: center;
    align-items: center;
}

#local-svg{
   aspect-ratio: 1.335/1; 
   border: 7px solid #425465;
   border-radius: 75px;
}

@media screen and (max-width: 800px){
#local-svg{
    border: 3px solid #425465;
   border-radius: 40px;

}
}

#local-map{
    height: 106%;
    width: 106%;
}

#local-return{
    position:absolute;
    font-family: "Montserrat", sans-serif;
    right: 20px;
    bottom: 20px;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    background-color: #e65525;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#local-return:hover{
background-color: #a13b1a;
}

