
div, img{
    animation-fill-mode: forwards !important;
}
@keyframes opacityIn {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
@keyframes opacityOut {
    from{
        opacity:1;
    }
    to{
        opacity:0;
    }
}
@keyframes infoIn {
    from{
        right:-40%;
        display:none;
    }
    to{
        right: 0;
        display:flex;
    }
    
}


@keyframes insetIn {
    from{
      width:0%;
    }
    to{
     width:100%;
    }
}

@keyframes insetOut {
    from{
      width:100%;
      left:0;
    }
    to{
     width:0;
     left:100%;
    }
}