@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");


@font-face {
    font-family: rg;
    src: url("fonts/RidleyGrotesk-Regular.otf");
}
@font-face {
    font-family: rg;
    src: url("fonts/RidleyGrotesk-Bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: rg;
    src: url("fonts/RidleyGrotesk-Italic.otf");
    font-style: italic;
}

@font-face {
    font-family: rg;
    src: url("fonts/RidleyGrotesk-BoldItalic.otf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: rgb;
    src: url("fonts/RidleyGrotesk-Black.otf");
}

body{
    margin:0;
    overflow:hidden;
}

#svg-container{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

#svg-container:hover{
/* cursor: grab; */
}

#background{
    background-color: #fff;
    width: 100%;
height:100%;
}

g{
    transition: 0.2s;
}

#map{
    height: 100%;
    width:100%;
}

.pin{
    opacity:0;
}
#info{
    position:absolute;
    top: 0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.8);
    opacity:0;
    display: none;
}

#info-animate{
    position:absolute;
    top:0;
right:-40%;
    background-color: #fff;
    width:40%;
    height:100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-animate img{
    height:60%;
}

.info-container{
    position:absolute;
    top:0.5%;
right:-40%;
    background-color: #425465;
    width:40%;
    height:99%;
    border-left: 2px solid #fff;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    scrollbar-width: none;
    transition: 0.2s;
}

.info-container::-webkit-scrollbar{
    display: none;
}


.info-container h1{
    text-transform: capitalize;
    color:#fff;
    font-family: rgb;
    font-size:3em;
    margin:0;
    padding-top:20px;
    padding-bottom:25px;
    width:80%;

}

@media screen and (max-width: 500px){
    .info-container h1{
        font-size:1.5em;
    }
    .info-container p{
        font-size: 0.5em;
       
    }
}

.info-container p{
    width:80%;
    color:#fff;
    font-family: "Montserrat", sans-serif;
    font-size:0.8em;
    line-height: 2;
    margin:0;
    padding-bottom:10px;
    border-bottom: 2px solid #425465;
}

.info-container a{
    color: #fff;
}




.info-link{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.info-link-lowercase{
    color: #fff;
    font-weight: bold; 
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    text-align:left;
}

.info-link:hover{
    color:#ccc;
}

.info-link-lowercase:hover{
    color:#ccc;
}

.info-media{
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:95%;
    padding-bottom:20px;
height:100%;
opacity: 0;
}

.info-media img{
    max-height:450px;
    max-width:50%;
    padding: 3px;
}

.info-logo{
    position: fixed;
    bottom: 30px;
    right: 30px;
    max-height: 65px;
    max-width: 30%;
    border: 3px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    margin-left: 10px;
    opacity: 0;
}

#info-close{
    position:fixed;
    top:10px;
    right:10px;
    height: 5%;
    opacity: 0;
    z-index: 9999999;
}

#info-close:hover, .pin:hover{
cursor: pointer !important;
}






#inset-animation{
    background-color: #e65525;
    position:absolute;
    width:0;
    height:100%;
    top:0;

}

#local-container, #ethiopia-container{
    background-color: #fff;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    display:none;
    justify-content: center;
    align-items: center;
}

#ethiopia-svg{
    background-color: #425465;
}

#local-svg, #ethiopia-svg{
   /* aspect-ratio: 1.335/1;  */
   border: 7px solid #425465;
   border-radius: 75px;
}


@media screen and (max-width: 800px){
#local-svg, #ethiopia-svg{
    border: 3px solid #425465;
   border-radius: 40px;

}
}

#local-map{
    height: 106%;
    width: 106%;
}

#ethiopia-map{
    height:100%;
    width: 100%;
}

.inset-return{
    position:absolute;
    font-family: "Montserrat", sans-serif;
    right: 20px;
    bottom: 20px;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    background-color: #e65525;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.inset-return:hover{
background-color: #a13b1a;
}

#key{
    position: absolute;
    max-width: 15%;
    max-height: 20%;
    left: 45px;
    bottom: 45px;
}

#controls{
position:absolute;
width: 40px;
height:80px;
background-color:#aaa;
right: 20px;
bottom: 20px;
border-radius: 10px;
overflow: hidden;
border: 2px solid #fff;
}

#controls a{
    display:block;
    width: 40px;
    font-size: 40px;
    height:40px;
    font-family: sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

#controls a:hover{
    background-color: #555;
}

#minus-sign{
    position: absolute;
    top: 58px;
    left: 10px;
    background-color: #fff;
    height: 3.5px;
    width: 19.5px;

}


#tooltip-border{
    top:10px;
    left:10px;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    opacity: 0;
    transition: 0.5s;
}

#tooltip{
   margin:5px;
   font-family:"rg", sans-serif;
color:#e65525;
text-decoration: underline;
font-style: italic;
font-size:36px;
transition: 0.5s;
/* opacity:0; */
font-weight: bold;
}

@media screen and (max-width:700px)
{
    #key{
    max-width: 100%;
    max-height: 15%;
    }
    #tooltip{
font-size:0px;
    }
}


#border-squares{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    pointer-events: none;
}